<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Koi Farm 2 blog | $title$</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_16.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_32.png"/>
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="rss.xml">
</head>
<body>
<div id="wrapper">
    <div id="content">
        <div id="index"><ul>$index$</ul></div>
        <div id="blog">
            <div id="post">$post$</div>
            <div id="footer">$previous$$next$</div>
        </div>
    </div>
</div>
</body>
</html>