body {
    background-color: #e8e3d2;
    font-family: sans-serif;
}

#wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    text-align: center;
}

#content {
    display: flex;
    justify-content: center;
}

#index {
    padding: 12px;
    white-space: nowrap;
    font-style: italic;
}

#index ul {
    list-style-type: none;
    text-align: right;
    margin: 0;
}

#blog {
    flex-grow: 1;
}

#post {
    background-color: #efefef;
    padding: 12px;
}

#post img {
    max-width: 100%;
}

#post video {
    max-width: 100%;
}

#footer .next {
    float: right;
}