:root {
    --color-dark: #2f2f2f;
    --color-link: #6298E0;
}

a:link {
    color: var(--color-link);
}

a:visited {
    color: gray;
}

.icon {
    float: right;
    margin-left: 4px;
    fill: var(--color-dark);
}

.icon:hover {
    fill: var(--color-link);
}

body {
    background-color: #e6e8d2;
    color: var(--color-dark);
    font-family: sans-serif;
}

#wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    text-align: right;
}

#content {
    display: flex;
    justify-content: center;
}

#index {
    padding: 12px;
    white-space: nowrap;
    font-style: italic;
}

#index ul {
    list-style-type: none;
    text-align: right;
    margin: 0;
}

#blog {
    flex-grow: 1;
}

#post {
    background-color: #efefef;
    padding: 12px;
    display: inline-block;
    border: 1px solid var(--color-dark);
}

#post h2 {
    margin: 0;
    text-align: center;
    width: 100%;
}

#post h3 {
    text-align: center;
    width: 100%;
    font-size: 8pt;
    margin-top: 0;
    font-style: italic;
    font-weight: normal;
}

#post figure {
    float: right;
}

#post img {
    max-width: 100%;
}

#post video {
    max-width: 100%;
}

#footer .next {
    float: right;
}